h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #000;
  background-color: #fff;
}

body.modal-open,
body.menu-container-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container__wrap {
  background-color: #3fd1e8;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.hero__list, .header__socials, .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 15px;
  color: #fff;
}

.logo__icon {
  display: block;
  width: 60px;
  height: auto;
  fill: currentColor;
}

.header {
  background-color: #3fd1e8;
  border-bottom: 1px solid #212121;
  color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu-btn {
  color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__icon {
  fill: currentColor;
  display: block;
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__list {
  gap: 15px;
}

.nav__link {
  padding: 30px 0;
  color: #fff;
}

.header__socials {
  margin-left: auto;
  gap: 15px;
}

.header__socials-link {
  padding: 30px 0;
  color: #fff;
}

.hero__container .hero__title {
  padding: 10px 10px;
  font-size: 24px;
  color: #fff;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.hero__list {
  margin-top: 20px;
  gap: 20px;
}/*# sourceMappingURL=main.css.map */