h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #000;
  background-color: #fff;
}

body.modal-open,
body.menu-container-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.team__desc, .team-card__title, .benefits__list, .header__socials, .nav__list, .socials__link, .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 15px;
  color: #ff9100;
}

.logo__icon {
  display: block;
  width: 60px;
  height: auto;
  fill: currentColor;
}

.socials {
  gap: 20px;
  width: 206px;
  height: 44px;
  margin: 0 auto;
}

.socials__link {
  width: 44px;
  height: 44px;
}

.socials__icon {
  width: 30px;
  height: auto;
}

.header {
  background-color: #212121;
  border-bottom: 1px solid #212121;
  color: #ff9100;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  color: #ff9100;
}
@media screen and (max-width: 767px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu-btn {
  color: #ff9100;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__icon {
  fill: currentColor;
  display: block;
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__list {
  gap: 15px;
}

.nav__link {
  padding: 30px 0;
  color: #ff9100;
}

.header__socials {
  margin-left: auto;
  gap: 15px;
}

.header__socials-link {
  padding: 30px 0;
  color: #ff9100;
}

.benefits__list {
  gap: 15px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  -ms-flex-preferred-size: calc((100% - 30px * (1 - 1)) / 1);
      flex-basis: calc((100% - 30px * (1 - 1)) / 1);
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px #212121, 0px 1px 1px #212121, 0px 2px 1px #212121;
          box-shadow: 0px 1px 3px #212121, 0px 1px 1px #212121, 0px 2px 1px #212121;
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px * (2 - 1)) / 2);
        flex-basis: calc((100% - 30px * (2 - 1)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px * (4 - 1)) / 4);
        flex-basis: calc((100% - 30px * (4 - 1)) / 4);
  }
}

.team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.team__img {
  width: 100%;
}

.team-card__title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 30px 10px;
}

.team__desc {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  margin: 10px 0;
}

.team__level {
  position: relative;
  margin-right: 5px;
}
.team__level::after {
  content: "";
  position: absolute;
  top: 0;
  right: -5px;
  display: block;
  width: 1px;
  height: 100%;
  border-radius: 2px;
  background-color: #212121;
}/*# sourceMappingURL=main.css.map */