.actions__list {
  @extend %cardSet;
  --gap: 16px;
}

.actions__item{
  @extend %cardSet__item;
  @extend %flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

.actions__desc {
  text-align: center;
  flex-grow: 1;
}