.benefits__list {
  @extend %cardSet;
  --gap: 16px;
}

.benefits__item {
  @extend %cardSet__item;
  @extend %flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  text-align: center;

  background-color: var(--color-bg__main);
  border-radius: var(--border__radius);
}

.benefits__desc {
  flex-grow: 1;
}