.header__container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  background-color: $color-bg__main;
  
  display: flex;
  align-items: center;
  min-height: $height_header;
  width: 100%;
  padding: 0 15px;
  // margin: 0;

  outline: 1px solid orange;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  width: 32px;
  height: 32px;
  margin: 0 0 0 auto;
  background: none;
  z-index: 3;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-open {
    justify-content: flex-start;
  }
}

.burger-line {
  display: block;
  width: 100%;
  height: 4px;
  margin: 0;

  background-color: currentColor;
  border-radius: 2px;
  
  transition-duration: 0.2s;
  transition-property: height, opacity, transform;

  .menu-btn.is-open &:first-child {
    margin-top: 16px;
    transform: rotate(45deg);
  }

  .menu-btn.is-open &:nth-child(2n) {
    margin-top: -9px;
    transform: rotate(-45deg);
  }

  .menu-btn.is-open &:last-child {
    opacity: 0;
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    width: 0;
    opacity: 0;
    transform: translateY(-150%);
    transition: transform $main__transition;
  }

  &.is-open {
  position: absolute;
  top: $height_header;
  left: 0%;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 500px;
  padding: 48px 40px;

  background-color: $color-bg__main;
  overflow-y: scroll;

  opacity: 1;
  transform: translateY(0);
  }
}
.nav__list {
  @extend %flexC;
  gap: 15px;

 .menu-container.is-open & {
  flex-direction: column;
 }
}

.nav__link {
  padding: 30px 0;
}

// .header__socials {
//   @extend %flexC;
//   margin-left: auto;
//   gap: 15px;
// }

// .header__socials-link {
//   padding: 30px 0;
// }