.hero.section {
  min-height: 320px;
  background-color: $color-bg__block;
  background-image: linear-gradient(rgba(33, 33, 33, 0.7), rgba(33, 33, 33, 0.7)), url(../../images/hero/hlop__1600.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__container {
  padding: 0 60px;
}

.hero__title,
.hero__desc {
  color: $color__w;
}

.hero__title {
  display: block;
  font-size: 40px;
}

.hero__desc {
  display: block;
  text-align: center;
  font-size: 16px;
}