.hero.section {
  max-width: 1600px;
  min-height: 200px;
  padding: 36px 0;
  margin: 0 auto;

  background-color: var(--color-bg__block);
  background-image: linear-gradient(rgba(33, 33, 33, 0.7), rgba(33, 33, 33, 0.7)), url(../images/hero/hlop__1600.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 25%;

  @media screen and (min-width: 1200px) {
    min-height: 400px;
  }
}

.hero__container {
  padding: 0 36px;
}

.hero__title,
.hero__subtitle,
.hero__desc {
  color: var(--color__w);
}

.hero__title {
  margin-bottom: 16px;

  font-weight: 800;
  font-size: 32px;

  @media screen and (min-width: 1200px) {
    font-size: 48px;
  }
}

.hero__subtitle {
  font-size: 24px;

  @media screen and (min-width: 1200px) {
    font-size: 32px;
  }
}

.hero__desc {
  max-width: 604px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    max-width: 880px;
    font-size: 24px;
  }
}