.partners-slide {
  padding: 24px 0;

  background-color: var(--color-bg__secondary);

  // background-color: var(--color__secondary);
  // color: var(--color-bg__secondary);
  // background-color: var(--color-bg__secondary);
  // color: var(--color__secondary);
}

.partners-slide__container,
.partners-slide__list,
.partners-slide__item {
  @extend %flex;
}

.partners-slide__container {
  flex-direction: column;
  gap: 16px;
  max-width: 100%;
}

.partners-slide__inner {
  width: 100%;
  min-width: 0;
}

.partners-slide__img {
  max-width: 80px;

  @media screen and (min-width: 768px) {
    max-width: 96px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 120px;
  }
}