.team {
  background-color: $color-bg__main;
}

.team__item {
  background: $color-bg__w;
  box-shadow: 0 0 4px rgb(0 0 0 / 30%);
  border-radius: 4px;
  width: 100%;
  
}

.team__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  
}

.team__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  padding: 12px;
}

.team__position-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.team .socials{
  margin-top: auto;
}

.team__slider {
  position: relative;
}

.team__slider .slick-list {
  padding: 4px;
}

.team__slider .slick-track {
  gap: 16px;
}

.team__slider .slick-dots {
  padding: 24px;
}