.team {
  color: var(--color__secondary);

  background-color: var(--color-bg__secondary);
}

.team__title {
  margin-bottom: 20px;
}

.team__list {
  min-width: 0;
}

.team__item {
  @extend %flex;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;

  background: var(--color-bg__main);
  box-shadow: var(--shadow);
  border-radius: var(--border__radius);
}

.team__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: contain;
  background-color: #b05cff;
}

.team__desc {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
}

.team__name {
  padding-bottom: 8px;
}

.team .socials{
  margin-top: auto;
}

.team__slider {
  position: relative;
}

// .team__slider .slick-list {
//   padding: 4px;
// }

/* Стрілки */
.team__slider .slick-arrow {
  transform: translateY(calc(-50% - 30px));
  height: calc(100% - 60px) ;
}

/* Стрелка влево */
.team__slider .slick-arrow.slick-prev {
  left: -32px;
}

/* Стрелка вправо */
.team__slider .slick-arrow.slick-next {
  right: -32px;
}

/* Крапки */
.team__slider .slick-dots {
  padding: 24px;
}