.btn {
  @extend %flex;
  height: 40px;
  padding: 12px;

  color: var(--color__secondary);
  font-size: 16px;

  background-color: #84c0fc;
  border-radius: var(--border__radius);
}

.menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 32px;
  height: 32px;
  margin: 0 0 0 auto;
  background: none;
  z-index: 3;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-open {
    justify-content: flex-start;
  }
}

.burger-line {
  position: absolute;
  
  width: 100%;
  height: 4px;
  margin: 0;

  background-color: currentColor;
  border-radius: 2px;

  transition-duration: 0.4s;
  transition-property: height, opacity, transform;

  // &:first-child {
  //   transform: rotate(45deg);
  // }

  .menu-btn.is-open &:first-child {
    transform: rotate(45deg);
  }

  .menu-btn.is-open &:nth-child(2n) {
    opacity: 0;
  }

  .menu-btn.is-open &:last-child {
    transform: rotate(-45deg);
  }
}

.modal__btn-close {
  position: absolute;
  top: 16px;
  right: 16px;

  @extend %flex;
  width: 24px;
  height: 24px;

  border-radius: 50%;
}

.cross-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;

  background-color: currentColor;
  border-radius: 2px;
  
  transition-duration: 0.4s;
  transition-property: height, opacity, transform;

  &:first-child {
    transform: rotate(45deg);
  }

  &:last-child {
    transform: rotate(-45deg);
  }
}