.header__logo {
  @extend %flex;
  margin-right: auto;
  height: 32px;
}

.logo__icon,
.logo__text {
  fill: currentColor;
}

.logo__text {
  @extend %flex;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 2;
}