/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 32px;
  height: 100%;

  font-size: 0;
  background-color: transparent;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

/* иконка в виде стрелки */
.slick-prev-icon,
.slick-next-icon {
  fill: currentColor;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
}

/* Точки (булиты) */
.slick-dots {
  @extend .list;
  @extend %flexC;
  gap: 10px;
}

.slick-dots li {
  width: 12px;
  height: 12px;

  font-size: 0;

  background-color: #212121;
  border-radius: 50%;
}

/* Активная точка */
.slick-dots li.slick-active {
  background-color: transparent;
  border: 1px solid #212121;
}

// .slider { 
//   position: relative;
// }

// .slider__item {}

/* Слайдер */
// .slick-slider {}

/* Слайдер запущен */
// .slick-slider.slick-initialized {}

/* Слайдер с точками */
// .slick-slider.slick-dotted {}

/* Слайд */
// .slick-slide {}

/* Слайд активный (показывается) */
// .slick-slide.slick-active {}

/* Слайд основной */
// .slick-slide.slick-current {}

/* Слайд по центру */
// .slick-slide.slick-center {}

/* Клонированный слайд */
// .slick-slide.slick-cloned {}

/* Стрелка не активная */
// .slick-arrow.slick-disabled {}

/* Элемент точки */
// .slick-dots li button {}