body {
  font-family: $font-f__main;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $color__main;
  background-color: $color-bg__w;
}

body.modal-open,
body.menu-container-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-f__h;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.title {
  text-align: center;
  margin-bottom: 20px;
}