// fonts
$font-f__main: 'Montserrat', sans-serif;
$font-f__secondary: 'Source Sans 3', sans-serif;
$font-f__h: 'Source Serif Pro', serif;

// colors
$color__main: #1d2a3b;
$color__secondary: #495c77;
$color__w: #fff;

// colors bg
$color-bg__main: #f0faff;
$color-bg__secondary: #1d2a3b;
$color-bg__w: #fff;
$color-bg__block: #495c77;
$color-bg__btn: #2c76dc;

// to use
// #2c76dc
// #f0faff - skyblue
// #84c0fc - 
// #edf2fd

// sizes
$height_header: 60px;

// transition
$main__transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);