:root {
// fonts
--font-f__main: 'Nunito', sans-serif;
--font-f__h: 'Source Serif Pro', serif;
--font-f__quote: 'Caveat', cursive;

// colors
--color__main: #1d2a3b;
--color__secondary: #495c77;
--color__w: #fff;

// colors bg
--color-bg__main: #f0faff;
// --color-bg__secondary: skyblue;
--color-bg__secondary: #f0faff;

// to use
// #2c76dc
// #f0faff 
// skyblue
// #84c0fc
// #edf2fd
// #f4ede4

// #0084ff
// #fff653
// #b05cff;

// shadow


--shadow: 0 0 4px rgb(0 0 0 / 20%);

// card set
--items: 1;
--gap: 24px;

// flex
--flex-jc: center;

// sizes
--height__header: 60px;
--border__radius: 20px;

// transition
--main__transition: 600ms cubic-bezier(0.4, 0, 0.2, 1);

}