.slick-slider {
  max-width: 100%;
  min-width: 0px;
}

.slick-list {
  overflow: hidden;
  max-width: 100%;
};

.slick-track {
  display: flex;
};

// dots - точки
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
};

.slick-dots button {
  width: 10px;
  height: 10px;

  font-size: 0;

  background-color: #fff;
  border-radius: 50%;
};

.slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}

.projects-slider__item {
  display: flex;
  justify-content: center;
}

.projects-slider__item span {
  display: none;
}

.projects-slider__img {
  border-radius: var(--border__radius);

}