.projects__slider {
  min-width: 0;
}

.projects__list {
  @extend %cardSet;
}

.projects__item {
  position: relative;
  @extend %cardSet__item;
}

.projects__img-cover {
  width: 100%;

  border-radius: var(--border__radius);
  cursor: pointer;
}

.projects__play-svg {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 60px;
  height: 60px;

  color: red;
  fill: currentColor;
  transform: translate(-50%, -50%);

  pointer-events: none;
}

.projects__play-iframe {
  width: 400px;
  height: 225px;

  @media screen and (min-width: 768px) {
    width: 720px;
    height: 405px;
  }

  @media screen and (min-width: 1200px) {
    width: 960px;
    height: 840px;
  }
}

.projects__filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  margin: 24px 0;
};

.projects__filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 80px;
  padding: 12px;

  font-size: 16px;
  background-color: burlywood;
  border-radius: var(--border__radius);

  &.current {
    background-color: rgb(100, 175, 215);
  }

  @media screen and (min-width: 768px) {
    min-width: 100px;
  };
}

.projects__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0 0;
  padding: 12px;
  
  font-size: 16px;
  border-radius: var(--border__radius);
  background-color: burlywood;
}

.projects__title {
  text-align: center;
}