:root {
// fonts
--font-f__main: 'Nunito', sans-serif;
--font-f__h: 'Source Serif Pro', serif;
--font-f__quote: 'Caveat', cursive;
--font-s__main: 24px;

// colors
--color__main: #1d2a3b;
--color__secondary: #495c77;
--color__w: #fff;

// colors bg
--color-bg__main: #f0faff;
--color-bg__header: rgb(0, 0, 0, 0.7);
// --color-bg__secondary: ;

// shadow
--shadow__main: 0 0 4px rgb(0 0 0 / 20%);

// card set
--items: 1;
--gap: 24px;

// flex
--flex-jc: center;

// sizes
--height__header: 60px;
--border__radius: 20px;

// transition
--transition__main: 600ms cubic-bezier(0.4, 0, 0.2, 1);
};


// #64afd7 / burlywood